<form id="formulario" #f="ngForm" (ngSubmit)="efetuarLogin(f)">
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <p-card class="cardLogin">
        <div class="ui-g">
          <div class="ui-g-12">
            <div style="text-align: center">
              <img src="../../assets/img/logo.png" alt="Logo" height="30" width="30">
            </div>
          </div>
          <div class="ui-g-12">
            <span>
              Bem-vindo, use o formulário para acessar o sistema.
            </span>
          </div>
          <div class="ui-g-12">
            <label for="login">Login</label>
          </div>
          <div class="ui-g-12 ui-fluid">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
              <input id="login" name="login" type="text" pInputText [(ngModel)]="jwtAutenticationRequest.login">
            </div>
          </div>
          <div class="ui-g-12">
            <label for="senha">Password</label>
          </div>
          <div class="ui-g-12 ui-fluid">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
              <input id="senha" name="senha" type="password" pPassword [feedback]=false
                [(ngModel)]="jwtAutenticationRequest.senha" />
            </div>
          </div>
          <div class="ui-g-12 ui-fluid">
            <button pButton type="submit" [label]="labelButton" [disabled]="disabledButton"
              style="width: -webkit-fill-available">
              <i *ngIf="disabledButton" class="pi pi-spin pi-spinner" style="font-size: 1.5em"></i>
            </button>
          </div>
        </div>
      </p-card>
    </div>
    <div class="ui-g-2"></div>
  </div>
  <div *ngIf="showMsgErro" style="position: relative; top:110px">
    <p-messages [(value)]="msgs"></p-messages>
  </div>
</form>