<form [formGroup]="perfilFormGroup" (ngSubmit)="cadastrarPerfil()">
    <p-panel>
        <p-header>
            <div style="text-align: center; font-weight: bold;">{{titlePage}}</div>
        </p-header>
        <div class="ui-g">
            <input type="hidden" id="idPerfilUsuario" name="idPerfilUsuario" pInputText
                formControlName="idPerfilUsuario">
            <div class="ui-g-3">
                <label for="sigla">* Sigla</label>
            </div>
            <div class="ui-g-9">
                <label for="descricao">* Descrição</label>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <input id="sigla" name="sigla" type="text" pInputText formControlName="sigla" />
            </div>
            <div class="ui-g-9 ui-fluid">
                <input id="descricao" name="descricao" type="text" pInputText formControlName="descricao" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <span style="color: red;"
                    *ngIf="!perfilFormGroup.controls['sigla'].valid && perfilFormGroup.controls['sigla'].dirty"
                    [innerHTML]="perfilFormGroup.controls['sigla'].errors['required'] ? 'Campo obrigatório' 
                        : perfilFormGroup.controls['sigla'].errors['minlength'] ? 'O número mínimo de caracteres é 5' 
                        : perfilFormGroup.controls['sigla'].errors['maxlength'] ? 'O número máximo de caracteres é 10' 
                        : ''">
                </span>
            </div>
            <div class="ui-g-9">
                <span style="color: red;"
                    *ngIf="!perfilFormGroup.controls['descricao'].valid && perfilFormGroup.controls['descricao'].dirty"
                    [innerHTML]="perfilFormGroup.controls['descricao'].errors['required'] ? 'Campo obrigatório' 
                        : ''">
                </span>
            </div>
        </div>
        <p-footer>
            <div style="text-align: right;">
                <button pButton type="button" label="Voltar" [routerLink]="pageList"
                    style="margin-right: .25em"></button>
                <button pButton type="button" label="Novo" (click)="novoPerfil()" *ngIf="isAtualizacao;"
                    style="margin-right: .25em"></button>
                <button pButton type="button" label="Excluir" *ngIf="isAtualizacao" style="margin-right: .25em"
                    [disabled]="disabledButton" (click)="excluirPerfilUsuario(idPerfil)"></button>
                <button pButton type="submit" label="Atualizar" [disabled]="!perfilFormGroup.valid || disabledButton"
                    *ngIf="isAtualizacao"></button>
                <button pButton type="submit" label="Cadastrar" [disabled]="!perfilFormGroup.valid || disabledButton"
                    *ngIf="!isAtualizacao"></button>
            </div>
        </p-footer>
    </p-panel>
</form>

<p-toast (onClose)="redirectPageList()"></p-toast>

<p-messages *ngIf="showMessageError" [(value)]="msgs"></p-messages>